html {
  margin: 0;
  padding: 0;
}

#__next {
  position: relative;
  min-height: 100vh;
}

a,
button {
  font-weight: bold;
}

pre a {
  color: teal;

  &:hover {
    color: turquoise;
  }
}

footer {
  position: absolute;
  bottom: 0;
}

.content-wrapper {
  padding-bottom: 2.5rem;
  min-height: 80vh;
}

.theme-toggle-btn {
  margin-right: 15px;
}

.video-wrapper {
  width: 750px;
  height: 500px;
}

@media only screen and (max-width: 800px) {
  .theme-toggle-btn {
    margin-right: 0;
  }

  .profile-card {
    margin: 0 auto;
  }

  .video-wrapper {
    width: 100vw;
    height: 300px;
  }
}
